@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../assets/image/back3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  margin: 0;
  padding: 0;
}
