@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(src\assets\image\back.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}
